/* * * * * * * * SETUP STYLES * * * * * * * */
body {
	padding: none;
  background-color: #333;
  font-size: 10px;
}
@font-face {
  font-family: League Gothic;
  src: url("../fonts/LeagueGothic-Regular.otf");
}
@font-face {
  font-family: Monte;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Monte Bold;
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Proxima Nova Bold;
  src: url("../fonts/ProximaNovaBold.ttf");
}
@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-Regular.otf");
}
@font-face {
  font-family: Proxima Nova Light;
  src: url("../fonts/ProximaNovaLight.otf");
}
@font-face {
  font-family: Proxima Nova Thin;
  src: url("../fonts/ProximaNovaThin.otf");
}
@font-face {
  font-family: Libre Bold;
  src: url("../fonts/LibreBaskerville-Bold.otf");
}
@font-face {
  font-family: Libre Regular;
  src: url("../fonts/LibreBaskerville-Regular.otf");
}
@font-face {
  font-family: Libre Italic;
  src: url("../fonts/ProximaNova-Italic.otf");
}
/* * * * * * * * HOMELESS STYLES * * * * * * * */
.span-genius {
  padding:1px 5px 1px 5px;
  background-color: rgba(0,0,0,.1);
}
 .small {
  padding:1px 2px 1px 2px;
  background-color: rgba(0,0,0,.1);
}
.large-text {
  font-size: 2em;
  color: white;
}

.color-white {
  color: white;
}
.monte {
  font-family: Monte;
}

#modal-container {
  margin: 150px 10%;
  position: absolute;
  width: 80%;
  height: 1150px;
  background-color: #3A539B;

}
 h3 {
  font-size: 2em;
  font-family: Monte Bold;
  text-align: center;
  color: #A2DED0;
}

#header-container {
 padding-top: 5%;
}



#header-banner {
  margin-top: 40px;
  width: 100%;
  height: 24%;
  background-color: #1BA39C;
  color: white;
  border-bottom: 1px solid #6A82C8;
    margin-bottom: 60px;
}
#header-banner h1 {
  padding-top: 5%;
  font-size: 4em;
  text-align: center;
  font-family:  Monte;
}
/* * * * * * * * POST BANNER * * * * * * * */
#post-header {
  width: 100%;
}
#what-to-do {
  margin: 0px auto;
  text-align: center;
  display: table;
  font-family: Monte;
  color: white;
    padding:5px 10px;
  background-color: rgba(107, 185, 240,.2);
  border: 1px solid rgba(107, 185, 240,.2);
  border-radius: 8px;
}

#arrow {
  display: table;
  margin: 60px auto;
  text-align: center;
  height: 32px;
  width: 32px;
  opacity: .2;
}
.seperator {
  margin: 25px auto;
  width: 60%;
  height: 1px;
  background-color: white;
  opacity: .1;
}
#examples-container {
  padding: 1px 0px;
  height: 232px;
  background-color:  rgba(75, 119, 190,.3)
}
.example {
  margin-left: 12px;
padding: 15px 16px;
}
#example-text-container {
  width: 100%;
  height: 280px;
  margin: -10px 0px 0 34px;
 /*background-color: red;*/
}
.example-text {
  color:  #C5EFF7;
  font-size: 1.2em;
  line-height: 2em;
  font-family: Libre Regular;
  width: 294px;
  height: 240px;
  margin: 0px 54px 14px 0px;
/*  background-color: rgba(0,0,0,.2);*/
  float: left;
}
