<style>
.big-item {
   width: 240px;
  height: 200px;
  float: left;
  margin: 10px;
}
.item {
  position: absolute;
  width: 240px;
  height: 200px;
  background-color: #E4F1FE;
  float: left;
  margin: 10px;
  border: 1px solid #DADFE1;
  transition: border .2s;
}

.item img {
 width: 232px;
  height: 140px;
  margin: 4px;
  z-index: 2;
}
.item h2 {
  font-size: 1.25em;
  text-align: center;
  margin-top: 0;
  font-family: Libre Regular;
  color: #333;
}

.overlay {
  width: 238px;
  height: 198px;
  position: relative;
  float: left;
  z-index: 3;
   border: 1px solid #EEEEEE;
  margin: 10px 10px 10px 10px;
  opacity: 0;
  transition: opacity .4s;
}

.overlay h2 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 5px;
  font-family: Libre Regular;
  color: white;
}
.overlay:hover {
  opacity: 1;
  cursor: pointer;
    border: 5px solid rgba(245,215,110, .7);
}


</style>

<div id="results-container">
    <a href="#/items/{{item.name}}/#nav"><div class="big-item" ng-repeat="item in items | filter:query">
      <div class="item"> 

        <img ng-src="{{item.image}}">
           <div class="seperator" id="result-item-seperator"></div>
      <h2> {{item.name}} </h2> 
      </div> 
      <div class="overlay">
      
       <div id="overlay-bottom-block"> </div>
        </div> </a>
 
    </div>

