<style> 
#back {
  margin-top: 20px;
  margin-left: 48px;
  width: 32px;
  height: 32px;
  opacity: .5;

}
#back:hover {
  opacity: 1;

}
#stats-container {
  position: absolute;
  margin: 82px 0 0 32px;
  height: 600px;
  width: 160px;
  background-color: rgba(0,0,0,.1);
}
#detailed-view-box h1, p {
	margin-top: 10px;
  text-align: center;
  color: #555;
}
#example {
	height: 350px;
	width: 600px;
  margin-left: calc(50% - 300px);
  background-color: rgba(0,0,0,.1);
}
#full-description-container {
	width: 600px;
	height: 114px;
	margin-left: calc(50% - 300px);
	margin-top: 24px;
	padding-top: 32px;
	 background-color: rgba(0,0,0,.05);
}

#links-container {
  width: 600px;
  height: 64px;
  background-color: rgba(0,0,0,.1);
  margin-bottom: 32px;
   margin-left: calc(50% - 300px);
   margin-top: 20px;
}
.top-bar {
  display: block;
  height: 74px;
 background-color: rgba(218, 223, 225, .3);

}
</style>
<div id="detailed-view-box">
<div class="top-bar">
  <a href="/##nav"><img src="img/back.png" id="back"></a>
</div>

<div id="stats-container"></div>
<h1> {{itemID}}</h1>
<p> A tool for creating interactive visualizations </p>
<div id="example"></div>
<div id="full-description-container">
  <p> full description of teh framework goes here.  Testing {{itemID.name}} data binding</p>
</div>
<div id="links-container"></div>

</div>