<!DOCTYPE html>
<html ng-app="VDBApp">
  <head>
  <!--- ANGULAR DEPENDENCIES -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="app.js"></script>
  <script src="controllers.js"></script>

  <script src="bower_components/scrollReveal.js/scrollReveal.js"></script>

<link rel="shortcut icon" href="img/favicon.ico" />

  <link rel="stylesheet" type="css" href="stylesheet.css">


<!-- - - - - - - - - - - POLYMER COMPONENTS - - - - - - - - - - -->  
<script src="bower_components/webcomponentsjs/webcomponents.js">
    </script>
    <link rel="import"
      href="bower_components/core-header-panel/core-header-panel.html">
    <link rel="import"
        href="bower_components/core-toolbar/core-toolbar.html">
    <link rel="import"
          href="bower_components/paper-tabs/paper-tabs.html">
 <!-- - - - - - - - - - - - - - - - - - MODAL - - - - - - - - - - - - - - - - - - -->  
  <script src="bower_components/ngDialog/js/ngDialog.js"></script>
   <link rel="stylesheet" type="css" href="bower_components/ngDialog/css/ngDialog.css">
 <!-- - - - - - - - - - - - - - - - - - MODAL END - - - - - - - - - - - - - - - - - - --> 
  </head>
  <body ng-controller="myFirstCtrl">


<!-- - - - - - - - - - - - - - - - - - - PARTICLES BLOCK - - - - - - - - - - - - - - - - -->
<div id="particles-js">

<div id="text-block">
  
<h1 data-scroll-reveal="appear from Bottom after .5s"> EXPLORE DATA VIZ </h1>
 
 <p data-scroll-reveal="appear from Bottom after 1s"> Data Visualization allows us to understand collected data.  These meaningful illustrations built to communicate information are a powerful tool for extending our cognitive capabilites.  </p>
</div>
<div id="arrow-container">
<a href="#search-container" class="sub-link"> <img id="arrow" src="img/arrow_full.png"> </a>
</div>

 
</div>



     <!-- - - - -  TOOLTIP FOR DATA VIZ END - - - - - - - - -->
  
    <h1>Visual DB</h1>
    <div id="search-container">
         <input type="text" placeholder="" ng-model="searchMethod" class="input-styling" id="main-search" />
      <div id="button-container">
      <button> Prototyping </button>
       <button ng-click="filterByPopularity()"> Popular</button>
       <button ng-click="filterByNew()"> New</button>    
       <button ng-click="filterByJavascript()"> javascript</button>
       <button ng-click="filterByRealtime()"> real-time</button>
       <button ng-click="filterBySVG()"> SVG</button>
       <button ng-click="filterBySpatial()"> spatial</button>
       <button ng-click="filterByNetwork()"> networks</button>
       <button ng-click="filterByColor()"> color</button>
       <button ng-click="filterByDataFocused()"> data focused</button>
       <button ng-click="filterByFinancial()"> financial</button>
      </div>
    </div>
    
        <div class="seperator"></div>
    <!-- RESULTS BEGIN HERE -->
    <div id="results-container">
    <div class="big-item" ng-repeat="item in items | filter:searchMethod">
      <div class="item"> 

        <img ng-src="{{item.image}}">
           <div class="seperator" id="result-item-seperator"></div>
        <h2> {{item.name}} </h2>
      </div>
      <div class="overlay">
       <h2> {{item.name}} </h2>
       
        </div>
      
    </div>


<script src="http://vincentgarreau.com/particles.js/particles.js"></script>
<script src="particles.js"></script>

<script>
   // - - - - - - - - - - - - - PARTICLE OPERATIONS - - - - - - - - - - - - - - - - //
  var canvas = document.getElementsByTagName("canvas")[0];
  var ctx=canvas.getContext("2d");
 ctx.font="20px Georgia";
ctx.fillText("Hello World!",10,50);

          // - - - - - - - - - - - - - SCROLL REVEAL  - - - - - - - - - - - - - - - - //
        window.scrollReveal = new scrollReveal();
           // - - - - - - - - - - - - - SMOOTH SCROLLING - - - - - - - - - - - - - - - - //
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
          $('html,body').animate({
          scrollTop: target.offset().top
          }, 900);
          return false;
          }
          }
          });
          });

</script>
  </body>
</html>