<!DOCTYPE html>
<html ng-app="VDBApp">
  <head>
  <!--- MODAL SERVICES -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="app.js"></script>
  <script src="controllers.js"></script>
<link rel="shortcut icon" href="img/favicon.ico" />

  <link rel="stylesheet" type="css" href="stylesheet.css">


<!-- - - - - - - - - - - POLYMER COMPONENTS - - - - - - - - - - -->  
<script src="bower_components/webcomponentsjs/webcomponents.js">
    </script>
    <link rel="import"
      href="bower_components/core-header-panel/core-header-panel.html">
    <link rel="import"
        href="bower_components/core-toolbar/core-toolbar.html">
    <link rel="import"
          href="bower_components/paper-tabs/paper-tabs.html">
 <!-- - - - - - - - - - - - - - - - - - MODAL - - - - - - - - - - - - - - - - - - -->  
  <script src="bower_components/ngDialog/js/ngDialog.js"></script>
   <link rel="stylesheet" type="css" href="bower_components/ngDialog/css/ngDialog.css">
 <!-- - - - - - - - - - - - - - - - - - MODAL END - - - - - - - - - - - - - - - - - - --> 
  </head>
  <body ng-controller="myFirstCtrl">

<!-- 
         <div id="learn-container" ng-click="clickToOpen()">
<a><img src="img/learn.png" id="book"></a>
<h3 id="learn-more"> Learn More</h3>
</div>
 -->

<div id="particles-js">
  <h1> EXPLORE DATA VIZ </h1>
</div>



     <!-- - - - -  TOOLTIP FOR DATA VIZ END - - - - - - - - -->
  
    <h1>Visual DB</h1>
    <div id="search-container">
         <input type="text" placeholder="" ng-model="searchMethod" class="input-styling" id="main-search" />
      <div id="button-container">
      <button> Prototyping </button>
       <button ng-click="filterByPopularity()"> Popular</button>
       <button ng-click="filterByNew()"> New</button>    
       <button ng-click="filterByJavascript()"> javascript</button>
       <button ng-click="filterByRealtime()"> real-time</button>
       <button ng-click="filterBySVG()"> SVG</button>
       <button ng-click="filterBySpatial()"> spatial</button>
       <button ng-click="filterByNetwork()"> networks</button>
       <button ng-click="filterByColor()"> color</button>
       <button ng-click="filterByDataFocused()"> data focused</button>
       <button ng-click="filterByFinancial()"> financial</button>
      </div>
    </div>
    
        <div class="seperator"></div>
    <!-- RESULTS BEGIN HERE -->
    <div id="results-container">
    <div class="big-item" ng-repeat="item in items | filter:searchMethod">
      <div class="item"> 

        <img ng-src="{{item.image}}">
           <div class="seperator" id="result-item-seperator"></div>
        <h2> {{item.name}} </h2>
      </div>
      <div class="overlay">
       <h2> {{item.name}} </h2>
       
        </div>
      
    </div>


<script src="http://vincentgarreau.com/particles.js/particles.js"></script>
<script src="particles.js"></script>

          <script>
  /* * * * * * * * * PAPER TABS * * * * * * * * */
  var tabs = document.querySelector('paper-tabs');

  tabs.addEventListener('core-select', function() {
    console.log("Selected: " + tabs.selected);
  });
  /* * * * * * * * * * * * * * * * * * * * * * * */


</script>
  </body>
</html>