<!DOCTYPE html>
<html ng-app="VDBApp">
  <head>
  <!-- - - - - - - - - - - ANGULAR DEPENDENCIES - - - - - - - - - - -->  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>

  <script src="controllers.js"></script>
<link rel="stylesheet" type="css" href="stylesheet.css">

  <script src="bower_components/scrollReveal.js/scrollReveal.js"></script>

<link rel="shortcut icon" href="img/favicon.ico" />
  </head>
  <body ng-controller="myFirstCtrl">


<!-- - - - - - - - - - - - - - - - - - - PARTICLES BLOCK - - - - - - - - - - - - - - - - -->
<div id="particles-js">

<div id="text-block">
  
<h1 data-scroll-reveal="appear from Bottom after 1s"> EXPLORE DATA VIZ </h1>
 
 <p data-scroll-reveal="appear from Bottom after 1.5s">  Data Visualization allows us to understand collected data.  These meaningful illustrations built to communicate information are a powerful tool for extending our cognitive capabilites.  </p>
</div>
<div id="arrow-container">
<a href="/##nav"> <img id="arrow" src="img/arrow_full.png"> </a>
</div>

 
</div>



<!-- - - - - - - - - - - - - - - - - - - SEARCH BLOCK TOP - - - - - - - - - - - - - - - - -->
  <div id="nav">
<h1 id="visual-nav-header" ng-click="visualActive()"> Visuals </h1>
<h1 id="framework-nav-header" ng-click="frameworkActive()"> Frameworks </h1>
  </div>

   
<!-- - - - - - - - - - - - - - - - - - - SEARCH BLOCK BOTTOM - - - - - - - - - - - - - - - - -->
<div id="results-container">
    <a href="#/items/{{item.name}}/#nav"><div class="big-item" ng-repeat="item in items | filter:query">
      <div class="item"> 

        <img ng-src="{{item.image}}">
           <div class="seperator" id="result-item-seperator"></div>
      <h2> {{item.name}} </h2> 
      </div> 
      <div class="overlay">
      
       <div id="overlay-bottom-block"> </div>
        </div> </a>
 
    </div>






<script src="http://vincentgarreau.com/particles.js/particles.js"></script>
<script src="bower_components/particles.js"></script>

<script>
 
</script>
  </body>
</html>