
html,body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #ECF0F1;
}

p {
  font-family: Proxima Nova light, Proxima Nova;
  font-size: 1.3em;
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url(fonts/ProximaNovaBold.ttf);
}
@font-face {
  font-family: Proxima Nova;
  src: url(fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: Proxima Nova Light;
  src: url(fonts/ProximaNovaLight.otf);
}
@font-face {
  font-family: Proxima Nova Thin;
  src: url(fonts/ProximaNovaThin.otf);
}
@font-face {
  font-family: Libre Bold;
  src: url(fonts/LibreBaskerville-Bold.otf);
}
@font-face {
  font-family: Libre Regular;
  src: url(fonts/LibreBaskerville-Regular.otf);
}
@font-face {
  font-family: Libre Italic;
  src: url(fonts/ProximaNova-Italic.otf);
}

/*------*/
@font-face {
  font-family: League Gothic;
  src: url(fonts/LeagueGothic-Regular.otf);
}
@font-face {
  font-family: Monte;
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Monte Bold;
  src: url(fonts/Montserrat-Bold.ttf);
}
/* * * * * * * * * * * PARTICLES * * * * * * * * * * */
#particles-js {
  height: 100%;
  width: 100%;
  background-color: #F2784B;
  color: white;
  text-align: center;

}
#nav {
  height: 54px;
  width: 100%;
  background-color: #049372;
  color: white;
  text-align: center;
  border-bottom: 3px solid #C7CED1;
  /*border: 1px solid #049372;*/

}
#text-block {
  display: table;
  position: absolute;
  margin-left: calc(50% - 257px);
  padding: 100px 0 0 0;
  width: 515px;
  height: 200px;
  background-color: rgba(0,0,0,0);
}
#particles-js h1 {
  position: relative;
  font-family: Proxima Nova Bold;
  font-size: 5.5em;
  margin-bottom: -5px;
  padding-bottom: 10px;
  color: #F5D76E;
}
#particles-js p {
  position: relative;
  font-family: Libre Regular;
  font-size: 1.15em;
  width: 485px;
  margin: 0 auto;
}
#arrow-container {
  position: absolute;
  display: table;
  margin-left: calc(50% - 24px);
  padding-top: calc(95vh - 24px);

}
#arrow {
  height: 48px;
  width: 48px;
}

canvas {
  display:block;
  vertical-align:bottom;
}

/* * * * * * * *  * * * * * * * * * SECOND HALF * * * * * * * * * * * * * * * */

h1 {
  display: table;
  margin: 0px auto 30px auto;
  font-family: Monte Bold;
  font-size: 3.5em;
  text-align: center;
  color: white;
  transition: color .5s;
}
h1:hover {
color: #F5D76E;
cursor:pointer;
}
/* 102 of height accounted for with padding */
#search-container {
  background-color: #3A539B;
  height: 102px;
  width: 550px;
  margin: 40px auto 0 auto;
  padding: 10px 0px 40px 0px;
}

.input-styling {
  display: table;
  width: 250px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
  float: right;
 border: 4px solid #049372;
 border-radius: 1px;
  outline: none;
  transition: border .2s;
 box-shadow: inset 0 0 0 1px #EEEEEE;
  outline-color: transparent;
  font-family: Proxima Nova Light;
  font-size: 1.5em;
  color: #95A5A6;
  padding-left: 2px;
}
.input-styling:focus {
 border: 4px solid #4183D7;
 border-opacity: .5;
 appearance: none;
}


#button-container {
  margin-left: 12px;
}
button {
  background-color: rgba(0,0,0,.12);
  border: 0px solid #777;
  padding: 4px 10px;
  margin: 16px 5px 12px 5px;
  color: white;
  opacity: .8;
  float: left;
  font-family: Proxima Nova Light;
  border-radius: 3px;
}
button:hover {
  opacity: 1;
  background-color: rgba(0,0,0,.2);
  cursor: pointer;
}

.seperator {
  height: 3px;
  width: 100%;
  margin: 0px auto;
  background-color: #C7CED1;
}
#result-item-seperator {
  width: 100%;
  height: 1px;
 margin: 2px auto 5px auto;
  opacity: .8;
}

#results-container {
  height: 589px;
  margin: 0 calc(10% - 20px);
}
#footer {
  height: 200px;
  width: 300px;
  background-color: rgba(0,0,0,.0);
  margin: 0 auto 0 auto;
  margin-bottom: 150px;
  text-align: center;
}
#footer a {
text-decoration: none;
padding: 1px 2px;
color: #444;
}
#footer a:hover {
background-color: #F5D76E;
}

#orange-sep {
  height: 4px;
  width: 150px;
  margin: 20px auto 16px auto;
  background-color: #F2784B;
}




